*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial,sans-serif;
  font-size: 14px;
}

a{
  text-decoration: none;
}

.d-inline{
  display: inline;
}

#app{
  display: flex;
  flex-direction: column;
}

/********************************************************** Header **********************************************************/

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 6px;
  height: 60px;
}

.header-content {
  display: flex;
  padding-right: 15px;
  align-items: center;
}

.hc-links{
  font-family: arial,sans-serif;
  line-height: normal;
  padding-right: 15px;
}

.hc-link{
  display: inline-block;
  padding-left: 15px;
}

.hc-link >a{
  line-height: 24px;
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

.hc-link:hover > a{
  text-decoration: underline;
}

.hc-btn{
  padding: 4px;
}

.gbtn{
  display: flex;
  outline: none;
  vertical-align: middle;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.gbtn:hover{
  border-radius: 50%;
  background-color: rgba(60,64,67,0.08);
}

.gbtn > img{
  border-radius: 50%;
}

/********************************************************** Search Area **********************************************************/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 290px;
  justify-content: flex-end;
}

.search-area {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  box-shadow: none;
  z-index: 3;
  height: 46px;
  margin: 0 auto;
  width: 582px;
}

.search-area:hover {
box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.search {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}

.search-img {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.input-enter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.input-area {
  color: transparent;
  flex: 100%;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  display: block;
}

.input {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  border:none;
  width: 100%;
  margin-top: -69px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: textfield;
  cursor: text;
}

.search-tools{
  display: flex;
  align-items: center;
  margin: initial;
}

.search-tool{
  display: flex;
  align-items: center;
  line-height: 48px;
  padding: 0 10px;
  border: 0;
  cursor: pointer;
}

.voiceSeach{
  display: flex;
}

/********************************************************** Submit Buttons **********************************************************/

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  padding-top: 18px;
}

.buttonStyle{
  color: #3c4043;
  border: 1px solid #f8f9fa;
  background-color: #f8f9fa;
}

.buttonStyle:hover{
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
  height: 36px;
  border-radius: 4px;
}

.buttonStyle:focus{
  border: 1px solid #4285f4;
  outline: none;
}

.googlesearch {
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.feelinglucky {
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

/********************************************************** Footer **********************************************************/

.footer {
  background: #f2f2f2;
  margin-top: auto;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer-top{
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
}

.footer-bottom{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.footer-bottom-leftside{
  display: flex;
  justify-content: start;
  order: 1;
  min-width: 30%;
}

.footer-bottom-middle{
  display: flex;
  justify-content: center;
  order: 2;
}

.footer-bottom-rightside{
  display: flex;
  justify-content: end;
  order: 3;
  min-width: 30%
}

.footerLink{
  display: block;
  padding: 15px;
  white-space: nowrap;
  color: #999da2;
}

.footerLink > img{
  height: 14px;
  margin-right: 6px;
}

.footerLink >span{
  white-space: nowrap;
  vertical-align: top;
}

.footerLink:hover{
  text-decoration: underline;
}

.footer-bottom-rightside .footerLink:last-child{
  cursor: pointer;
  border: none;
}



